*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body{
    background: black;
    color: white;
} */
.main{
    text-align: center;
    padding: 3vw;
}
.products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
}
.cartitem{
    display: flex;
    border-radius: 2vw;
    border: 2px solid black;
    font-size: 1.2vw;
    justify-content: space-around;
    align-items: center;
    height: 7vw;
    width: 100%;
}